/* general
__________________________________________________________________________ */

* { text-align: center; }

li, h1 { margin: 1em !important; }

ul
{
	margin: 0;
	padding: 0;

	list-style-type: none;
}

/* app
__________________________________________________________________________ */
